<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Obes</title>
  <link rel="stylesheet" href="/front-end/public/styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,200&display=swap" rel="stylesheet">
</head>

<body>
  <div class="background"></div>

  <header>
    <nav aria-label="primary">
      <ul>
        <li><a href="#">Sobre Nós</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Entrar</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <img src="/front-end/public/images/obes.svg" alt="Logo Obes">

    <p><strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente alias velit ratione enim veniam ad aspernatur voluptate exercitationem obcaecati cumque perspiciatis nostrum minus libero nemo, blanditiis tempora porro unde fuga</strong></p>

    <a href="/">Vamos lá!</a>
  </main>

  <footer>
    <img src="/front-end/public/images/icon-facebook.svg" alt="Ícone do Facebook">
    <img src="/front-end/public/images/icon-twitter.svg" alt="Ícone do Twitter">
    <img src="/front-end/public/images/icon-instagram.svg" alt="Ícone do Instagram">
  </footer>
</body>

</html>