body {
  /* font-family: Arial, Rounded MT, Bold; */
  font-family: "Poppins", sans-serif;
  margin: 0px;
  background: #decffb;
  display: grid;
  gap: 80px;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
}

.background {
  grid-row: 1 / -4;
  background-image: url("/front-end/public/images/background-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}

header {
  display: grid;
  justify-content: end;
  margin: 45px 80px 0px 0px;
  font-size: 1.25rem;
  font-weight: bold;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

header a {
  color: #432876;
}

header ul li:last-child a {
  display: inline-block;
  background: #432876;
  color: #e9dffc;
  padding: 10px 20px;
  border-radius: 4px;
}

main {
  margin: 0px 80px 0px 0px;
  display: grid;
  gap: 45px;
  justify-items: end;
  text-align: right;
}

main p {
  font-size: 1.5rem;
  line-height: 150%;
}

main a {
  display: inline-block;
  background: #432876;
  color: #fff;
  font-size: 1.5rem;
  padding: 35px 95px;
  border-radius: 4px;
  font-weight: bold;
  margin: auto 0;
}

footer {
  margin: 0px 80px 45px 0px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
}
